:root {
    --grey-color: #757575;
    --black-color: #212121;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --darkblack-color: #000000;
    --darkgrey-color: #2F303A;
    --lightgrey-color: #ECECEC;
    --white2-color: #F5F4FA;
}




a[href=https] {
    color: red;
}

ul+p{
    font-size: 24px;
}